@import "theme";

.header-menu-top {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  position: absolute;
  z-index: 11;
  width: 100%;
  margin-top: 25px;
  > .logo {
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: 135px;
    height: 60px;
  }

  > .site-links {
    margin-right: 135px;
    > .link {
      font-size: 1.3em;
      font-weight: 300;
      color: #fff;
    }
    > .link:nth-last-child(n + 2) {
      margin-right: 50px;
    }

    > .link:hover {
      color: $primary-yellow;
    }
  }

  > .mobile-bar {
    display:none;
  }
}