@import "theme";

#NavbarTop {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block;
  > .row {
    > .col {
      @include flexbox();
      @include align-items(flex-end);
    }
    
    > .col > .navbar-brand {
      margin: 0;
      padding: 0;
      border: 0;
    }

    > .col > img {
      height: 50px;
    }
      
    > .col > .collapse  > .navbar-nav > .nav-link {
      font-size: 1.1em;
      font-weight: 300;
      color: #fff;
      padding: 0;
      line-height: 1;
    }
     
    > .col > .collapse  > .navbar-nav > .nav-link:nth-last-child(n + 2) {
      margin-right: 50px;
    }
  
    > .col > .collapse  > .navbar-nav > .nav-link:hover {
      color: $primary-yellow;
    }
  }
}