#Testimonials {
  padding: 50px 0;
  > .title {
    color: $primary-blue;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    > .underline {
      display: block;
      background-color: $primary-yellow;
      width: 70px;
      height: 3px;
      margin: auto;
      margin-top: 15px;
    }
  }
  > .row {
    > .col > .container-fluid > .card-group > .card {
      box-shadow: 0px 0px 15px -3px #000;
      padding: 20px;
    }

    > .col > .container-fluid > .card-group > .card > .card-img-top {
      border-radius: 500px;
      width: 160px;
    }
    
    > .col > .container-fluid > .card-group > .card:nth-last-child(n + 2){
      margin-right: 30px;
    }
  }
}