._initial-maxheight {
  max-height: initial !important; }

._initial-maxwidth {
  max-width: initial !important; }

._initial-height {
  height: initial !important; }

._initial-width {
  width: initial !important; }

._padding-leftless {
  padding-left: 0 !important; }

._padding-rightless {
  padding-right: 0 !important; }

._margin-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

@media screen and (min-width: 1408px) {
  ._flex-content-baseline-fullhd {
    justify-content: baseline;
    -moz-justify-content: baseline;
    -webkit-justify-content: baseline; } }

@media screen and (max-width: 1407px) {
  ._flex-content-baseline-widescreen {
    justify-content: baseline;
    -moz-justify-content: baseline;
    -webkit-justify-content: baseline; } }

@media screen and (max-width: 1215px) {
  ._flex-content-baseline-desktop {
    justify-content: baseline;
    -moz-justify-content: baseline;
    -webkit-justify-content: baseline; } }

@media screen and (max-width: 1023px) {
  ._margin-auto-tablet {
    margin-left: auto !important;
    margin-right: auto !important; }
  ._margin-less-tablet {
    margin: 0 !important; }
  ._margin-leftless-tablet {
    margin-left: 0 !important; }
  ._margin-rightless-tablet {
    margin-right: 0 !important; }
  ._margin-bottomless-tablet {
    margin-bottom: 0 !important; }
  ._margin-topless-tablet {
    margin-top: 0 !important; }
  ._flex-wrap-tablet {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  ._flex-wrap-tablet {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  ._flex-column-reverse-tablet {
    flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -webkit-flex-directions: column-reverse; }
  ._flex-content-center-tablet {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center; } }

@media screen and (max-width: 768px) {
  ._height-initial-mobile {
    height: initial !important; }
  ._margin-less-mobile {
    margin: 0 !important; }
  ._margin-leftless-mobile {
    margin-left: 0 !important; }
  ._margin-rightless-mobile {
    margin-right: 0 !important; }
  ._margin-bottomless-mobile {
    margin-bottom: 0 !important; }
  ._margin-topless-mobile {
    margin-top: 0 !important; }
  ._flex-column-mobile {
    flex-direction: column !important;
    -moz-flex-direction: column !important;
    -webkit-flex-directions: column !important; }
  ._flex-column-reverse-mobile {
    flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -webkit-flex-directions: column-reverse; }
  ._flex-content-center-mobile {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center; }
  ._flex-items-center-mobile {
    align-items: center !important;
    -moz-align-items: center !important;
    -webkit-align-items: center !important; }
  ._flex-wrap-mobile {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

#NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px; }
  #NavbarTop > .row > .col, #NavbarTopFixed > .row > .col, #NavbarTopSingle > .row > .col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  #NavbarTop > .row > .col > .navbar-brand, #NavbarTopFixed > .row > .col > .navbar-brand, #NavbarTopSingle > .row > .col > .navbar-brand {
    margin: 0;
    padding: 0;
    border: 0; }
  #NavbarTop > .row > .col > img, #NavbarTopFixed > .row > .col > img, #NavbarTopSingle > .row > .col > img {
    height: 50px; }
  #NavbarTop > .row > .col > .collapse > .navbar-nav > .nav-link, #NavbarTopFixed > .row > .col > .collapse > .navbar-nav > .nav-link, #NavbarTopSingle > .row > .col > .collapse > .navbar-nav > .nav-link {
    font-size: 1.1em;
    color: #fff;
    padding: 0;
    line-height: 1; }
  #NavbarTop > .row > .col > .collapse > .navbar-nav > .nav-link:nth-last-child(n + 2), #NavbarTopFixed > .row > .col > .collapse > .navbar-nav > .nav-link:nth-last-child(n + 2), #NavbarTopSingle > .row > .col > .collapse > .navbar-nav > .nav-link:nth-last-child(n + 2) {
    margin-right: 25px; }
  #NavbarTop > .row > .col > .collapse > .navbar-nav > .nav-link:hover, #NavbarTopFixed > .row > .col > .collapse > .navbar-nav > .nav-link:hover, #NavbarTopSingle > .row > .col > .collapse > .navbar-nav > .nav-link:hover {
    color: #FFD05F; }
  #NavbarTop > .row > .col > .navbar-toggler, #NavbarTopFixed > .row > .col > .navbar-toggler, #NavbarTopSingle > .row > .col > .navbar-toggler {
    margin-left: auto;
    padding: 0;
    border: 0; }
  #NavbarTop > .row > .col > .navbar-toggler:hover, #NavbarTopFixed > .row > .col > .navbar-toggler:hover, #NavbarTopSingle > .row > .col > .navbar-toggler:hover {
    background-color: transparent; }
  #NavbarTop > .row > .col > .navbar-toggler > .icon, #NavbarTopFixed > .row > .col > .navbar-toggler > .icon, #NavbarTopSingle > .row > .col > .navbar-toggler > .icon {
    fill: #fff;
    width: 36px;
    height: 30px; }

#NavbarTop > .row > .col {
  align-items: flex-end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end; }

#NavbarTopFixed > .row > .col, #NavbarTopSingle > .row > .col {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center; }

#NavbarTopSingle.single {
  top: 0;
  position: fixed;
  margin-top: 0;
  background-color: #08afe4; }

#NavbarTopFixed {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  position: fixed;
  top: -90px;
  margin-top: 0;
  background-color: #08afe4;
  z-index: 3; }
  #NavbarTopFixed.show {
    top: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: showFixNav;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: showFixNav;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0;
    -o-animation-duration: 0.5s;
    -o-animation-name: showFixNav;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: showFixNav;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

@-webkit-keyframes hideFixNav {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); } }

@-moz-keyframes hideFixNav {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); } }

@-o-keyframes hideFixNav {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); } }

@keyframes hideFixNav {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); } }

@-webkit-keyframes showFixNav {
  from {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); }
  to {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes showFixNav {
  from {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); }
  to {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes showFixNav {
  from {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); }
  to {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes showFixNav {
  from {
    -moz-transform: translateY(-135px);
    -o-transform: translateY(-135px);
    -ms-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px); }
  to {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@media only screen and (max-width: 767px) {
  #NavbarTop > .row > .col > .navbar-brand > img, #NavbarTopFixed > .row > .col > .navbar-brand > img, #NavbarTopSingle > .row > .col > .navbar-brand > img {
    height: 40px; }
  #NavbarTop > .row > .col > .navbar-toggler > .icon, #NavbarTopFixed > .row > .col > .navbar-toggler > .icon, #NavbarTopSingle > .row > .col > .navbar-toggler > .icon {
    width: 28px;
    height: 25px; } }

#Header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  background-image: url("../neuroblaze/assets/images/header.jpg");
  height: 100vh;
  background-size: cover; }
  #Header > .row {
    width: 100%; }
    #Header > .row > .col-md-11 {
      color: #fff; }
    #Header > .row > .col-md-11 > .title {
      font-weight: 300;
      font-size: 3.5em; }
    #Header > .row > .col-md-11 > .description {
      font-size: 1.5em;
      width: 640px;
      font-weight: 100; }
    #Header > .row > .col-md-11 > .underline {
      display: block;
      height: 3px;
      width: 70px;
      background-color: #FFB400; }

@media only screen and (max-width: 991px) {
  #Header > .row > .col > .title {
    font-size: 3em; }
  #Header > .row > .col > .description {
    width: 690px;
    max-width: 100%;
    font-size: 1.2em;
    margin: 0 auto 1em; }
  #Header > .row > .col > .title,
  #Header > .row > .col > .description {
    text-align: center; }
  #Header > .row > .col > .underline {
    margin: auto; } }

#AboutUs {
  padding: 50px 0; }
  #AboutUs > .title {
    margin-bottom: 50px; }
  #AboutUs > .row {
    margin: 0; }
    #AboutUs > .row > .mission {
      margin-right: 30px; }
    #AboutUs > .row > .section > .title {
      color: #FFB400;
      font-size: 2em;
      margin-bottom: 10px; }
    #AboutUs > .row > .section > .title > .underline {
      display: none;
      background-color: #FFB400;
      width: 70px;
      height: 3px;
      margin-top: 15px; }
    #AboutUs > .row > .section > .description {
      font-size: 1em;
      font-weight: 300; }
    #AboutUs > .row > #CoreValues {
      padding: 0; }
    #AboutUs > .row > #CoreValues > .title {
      margin-bottom: 30px;
      text-align: center; }
    #AboutUs > .row > #CoreValues > .row > .col > .card {
      border-radius: 10px;
      border: 1px solid #FFB400;
      height: 100%; }
    #AboutUs > .row > #CoreValues > .row > .col > .card > .card-img-top {
      width: 90px;
      margin: auto;
      margin-top: 25px; }
    #AboutUs > .row > #CoreValues > .row > .col > .card > .card-body {
      text-align: center; }
    #AboutUs > .row > #CoreValues > .row > .col > .card > .card-body > .card-title {
      color: #08afe4;
      text-transform: uppercase;
      font-size: 1em; }

@media only screen and (max-width: 1199px) {
  #AboutUs > .row > #CoreValues > .row > .col {
    margin-bottom: 25px; } }

@media only screen and (max-width: 991px) {
  #AboutUs > .row > .mission {
    margin: 0; }
  #AboutUs > .row > .vision {
    margin-bottom: 25px; }
  #AboutUs > .row > #CoreValues {
    padding: 0 15px; } }

#Benefits {
  padding: 50px 0; }
  #Benefits > .benefits {
    margin: 0; }
    #Benefits > .benefits > .col > .row > .item > .title {
      text-align: center; }
    #Benefits > .benefits > .col > .row > .item > .title > h2 {
      font-size: 1.5em; }
    #Benefits > .benefits > .col > .row:nth-child(1) {
      margin-bottom: 30px; }
    #Benefits > .benefits > .col > .row > .item > .description {
      font-size: 1.1em;
      text-align: center;
      font-weight: 300; }

@media only screen and (max-width: 991px) {
  #Benefits > .benefits > .col > .row > .item > .title {
    text-align: center; }
  #Benefits > .benefits > .col > .row > .item > .title > h2 {
    font-size: 1.2em; }
  #Benefits > .benefits > .col > .row > .item > .description {
    font-size: 1em; } }

@media only screen and (max-width: 767px) {
  #Benefits > .benefits > .col > .row > .item > .title > img {
    width: 75px;
    height: 75px; } }

#Components {
  padding: 50px 0; }
  #Components > .title {
    margin-bottom: 100px; }
  #Components > .row {
    margin: 0; }
    #Components > .row > .col > .components:nth-last-child(n + 2) {
      margin-bottom: 85px; }
    #Components > .row > .col > .components > .item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center; }
    #Components > .row > .col > .components > .item > .card {
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      height: 100%;
      padding: 20px;
      position: relative; }
    #Components > .row > .col > .components > .item > .card > img {
      width: 100px;
      position: absolute;
      top: -55px; }
    #Components > .row > .col > .components > .item > .card > .description {
      text-align: center;
      font-size: 15px;
      margin: 0;
      margin-top: 45px; }

@media only screen and (max-width: 991px) {
  #Components > .row {
    margin: 0; }
    #Components > .row > .col > .components > .item > .card > img {
      width: 90px;
      top: -45px; } }

@media only screen and (max-width: 767px) {
  #Components > .title {
    margin-bottom: 30px; }
  #Components > .row > .col > .components:nth-last-child(n + 2) {
    margin: 0; }
  #Components > .row > .col > .components > .item {
    margin-bottom: 10px; }
  #Components > .row > .col > .components > .item > .card > img {
    position: static; }
  #Components > .row > .col > .components > .item > .card > .description {
    margin-top: 15px; } }

#Testimonials, #MoreTestimonials {
  padding: 50px 0; }
  #Testimonials > .row, #MoreTestimonials > .row {
    margin: 0; }
    #Testimonials > .row > .col > .row > .col > .card, #MoreTestimonials > .row > .col > .row > .col > .card {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      padding: 20px;
      border-radius: 10px; }
    #Testimonials > .row > .col > .row > .col > .card:nth-last-child(n + 2), #MoreTestimonials > .row > .col > .row > .col > .card:nth-last-child(n + 2) {
      margin-right: 30px; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-title > .name, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-title > .name {
      font-size: 1.3em;
      margin: 0; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-title > .position, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-title > .position {
      font-size: 1em;
      margin: 0;
      font-weight: 300; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-directions: column;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container {
      border-radius: 500px;
      width: 150px;
      margin-bottom: 10px;
      overflow: hidden;
      border: 1px solid #FF8300; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container > .card-img, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container > .card-img {
      width: 100%;
      height: 100%; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-text, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-text {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      text-align: left;
      font-size: 1em; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-text > .quote, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-text > .quote {
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      width: 30px;
      height: 20px;
      margin-right: 15px;
      fill: #FF8300; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .readmore, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .readmore {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end;
      font-size: small;
      margin-top: auto; }
    #Testimonials > .row > .col > .row > .col > .card > .card-body > .readmore:hover, #MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .readmore:hover {
      color: #fff; }

#MoreTestimonials > .title {
  font-size: 2em; }
  #MoreTestimonials > .title > .underline {
    width: 50px; }

#MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container {
  width: 125px;
  height: 125px; }

#MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: left;
  font-size: 1em;
  margin: 0; }

#MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .card-text > .quote {
  width: 15px;
  height: 15px;
  margin-top: 5px; }

#MoreTestimonials > .row > .col > .row > .col > .card > .card-body > .readmore {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  font-size: 70%; }

#TestimonialContainer {
  margin-top: 43px;
  padding-top: 70px;
  margin-bottom: 40px; }
  #TestimonialContainer > .post-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-directions: row;
    margin: auto;
    position: relative;
    padding: 0;
    padding-bottom: 75px; }
  #TestimonialContainer > .post-content > .client-info-container {
    margin-right: 35px;
    text-align: center; }
  #TestimonialContainer > .post-content > .client-info-container > .thumbnail {
    margin-bottom: 10px; }
  #TestimonialContainer > .post-content > .client-info-container > .name {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0; }
  #TestimonialContainer > .post-content > .testimony-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    font-size: 1.1em;
    font-weight: 300; }
  #TestimonialContainer > .post-content > .navigation {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0; }
  #TestimonialContainer > .post-content > .navigation > .screen-reader-text {
    display: none; }
  #TestimonialContainer > .post-content > .navigation > .nav-links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next {
    margin-left: auto; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous {
    margin-right: auto; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next > a,
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    color: #FF8300; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next > a:hover,
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous > a:hover {
    text-decoration: none;
    color: #DF7200; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next > a > .icon,
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous > a > .icon {
    width: 15px;
    height: 15px;
    fill: #FF8300; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next > a:hover > .icon,
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous > a:hover > .icon {
    color: #DF7200; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-previous > a > .icon {
    margin-right: 10px; }
  #TestimonialContainer > .post-content > .navigation > .nav-links > .nav-next > a > .icon {
    margin-left: 10px; }

#TestimonialContainer + #Footer {
  position: relative;
  color: #777; }

@media only screen and (max-width: 991px) {
  #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-img-container {
    height: 120px;
    width: 120px; }
  #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-text > .quote {
    width: 16px;
    height: 16px; } }

@media only screen and (max-width: 767px) {
  #Testimonials > .row > .col > .row > .col:nth-last-child(n + 2) {
    margin-bottom: 25px; }
  #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-text {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-directions: column;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    text-align: center; }
  #Testimonials > .row > .col > .row > .col > .card > .card-body > .card-text > .quote {
    margin-right: 0;
    margin-bottom: 10px; }
  #Testimonials > .row > .col > .row > .col > .card > .card-body > .readmore {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center; }
  #MoreTestimonials > .row {
    margin: 0; } }

#ContactDetailsTop {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #08afe4;
  color: #fff; }
  #ContactDetailsTop > .row > .col > .row > .details > .phone,
  #ContactDetailsTop > .row > .col > .row > .details > .mobile {
    margin-right: 15px; }
  #ContactDetailsTop > .row > .col > .row > .details > .phone,
  #ContactDetailsTop > .row > .col > .row > .details > .mobile,
  #ContactDetailsTop > .row > .col > .row > .details > .email {
    font-size: 1em;
    font-weight: 300; }
  #ContactDetailsTop > .row > .col > .row > .details > .phone > .fas,
  #ContactDetailsTop > .row > .col > .row > .details > .mobile > .fas,
  #ContactDetailsTop > .row > .col > .row > .details > .email > .fas {
    margin-right: 5px; }
  #ContactDetailsTop > .row > .col > .row > .social-media {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end; }
  #ContactDetailsTop > .row > .col > .row > .social-media > .link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    margin-left: 10px; }
  #ContactDetailsTop > .row > .col > .row > .social-media > .link > .fab {
    font-size: 1.2em;
    color: #fff; }

#ContactUsForm {
  background-image: url("../neuroblaze/assets/images/contact.jpg");
  background-size: cover;
  padding: 70px 0 100px; }
  #ContactUsForm > .row {
    margin: 0; }
    #ContactUsForm > .row > .message {
      color: #fff;
      font-weight: 300; }
    #ContactUsForm > .row > .col > form {
      text-align: center; }
    #ContactUsForm > .row > .col > form > .form-group > .name,
    #ContactUsForm > .row > .col > form > .form-group > .email,
    #ContactUsForm > .row > .col > form > .form-group > .mobile,
    #ContactUsForm > .row > .col > form > .form-group > .message {
      font-weight: 300; }
    #ContactUsForm > .row > .col > form > .form-group > .message {
      resize: none; }
    #ContactUsForm > .row > .col > form > .submit {
      padding: 12px 100px; }
    #ContactUsForm > .row > .footer {
      color: #fff; }

@media only screen and (max-width: 991px) {
  #ContactDetailsTop > .row > .col > .row > .details > .phone,
  #ContactDetailsTop > .row > .col > .row > .details > .mobile,
  #ContactDetailsTop > .row > .col > .row > .details > .email {
    font-size: 0.8em; }
  #ContactDetailsTop > .row > .col > .row > .social-media {
    font-size: 0.8em; }
  #ContactUsForm > .row > .message {
    font-size: 1.3em; } }

@media only screen and (max-width: 630px) {
  #ContactDetailsTop > .row > .col > .row > .social-media {
    display: none; } }

#Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: #fff; }

html, body {
  font-family: "Lato", sans-serif !important;
  font-size: 16px; }

.nb-button {
  text-transform: uppercase;
  border-radius: 7px; }

.nb-primary-button {
  background-color: #FF8300;
  color: #fff;
  border: 0; }
  .nb-primary-button:hover {
    background-color: #DF7200; }

.mainpage-section > .title {
  margin-bottom: 30px;
  font-size: 3em;
  color: #08afe4;
  text-align: center; }
  .mainpage-section > .title > .underline {
    display: block;
    background-color: #FFB400;
    width: 70px;
    height: 3px;
    margin: auto;
    margin-top: 15px; }

@media only screen and (max-width: 991px) {
  .mainpage-section > .title {
    font-size: 2.5em; } }
