#AboutUs {
  padding: 50px 0;
  > .row {
    > .mission {
      margin-right: 30px;
    }
    > .section > .title {
      color: $primary-blue;
      font-size: 2.5em;
      margin-bottom: 20px;
    }
    > .section > .title > .underline {
      display: block;
      background-color: $primary-yellow;
      width: 70px;
      height: 3px;
      margin-top: 15px;
    }
  
    > .section > .description {
      font-size: 1.2em;
      font-weight: 300;
    }
  }
}