#AboutUs {
  padding:50px 0;
  > .title {
    margin-bottom: 50px;
  }
  > .row {
    margin: 0;
    > .mission {
      margin-right: 30px;
    }
    > .section > .title {
      color: $primary-yellow;
      font-size: 2em;
      margin-bottom: 10px;
    }
    > .section > .title > .underline {
      display: none;
      background-color: $primary-yellow;
      width: 70px;
      height: 3px;
      margin-top: 15px;
    }
  
    > .section > .description {
      font-size: 1em;
      font-weight: 300;
    }
    > #CoreValues {
      padding: 0;
    }
    > #CoreValues > .title {
      margin-bottom: 30px;
      text-align: center;
    }

    > #CoreValues > .row > .col > .card{
      border-radius: 10px;
      border: 1px solid $primary-yellow;
      height: 100%;
    }

    > #CoreValues > .row > .col > .card > .card-img-top{
      width: 90px;
      margin: auto;
      margin-top: 25px;
    }

    > #CoreValues > .row > .col > .card > .card-body {
      text-align: center;
    }

    > #CoreValues > .row > .col > .card > .card-body > .card-title {
      color: $primary-blue;
      text-transform: uppercase;
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1199px) {
  #AboutUs {
    > .row {
  
      > #CoreValues > .row > .col {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #AboutUs {
    padding: 40px 0;
    > .row {
      > .mission {
        margin: 0;
      }
      > .vision {
        margin-bottom: 25px;
      }
      > #CoreValues {
        padding: 0 15px;
      }
    }
  }
}