#Benefits,
#AddedBenefits {
  //@include primary-gradient();
  padding: 50px 0;

  > .benefits {
    margin: 0;
    > .col > .row > .item > .title {
      text-align: center;
    }
    > .col > .row > .item > .title > h2 {
      font-size: 1.5em;
    }
    > .col > .row:nth-child(1) {
      margin-bottom: 30px;
    }
    > .col > .row > .item > .description {
      font-size: 1.1em;
      text-align: center;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 991px) {
  #Benefits,
  #AddedBenefits {
    > .benefits {
      > .col > .row > .item > .title {
        text-align: center;
      }
      > .col > .row > .item > .title > h2 {
        font-size: 1.2em;
      }
      > .col > .row > .item > .description {
        font-size: 1em;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #Benefits {
    > .benefits {
      > .col > .row > .item > .title > img {
        width: 75px;
        height: 75px;
      }
    }
  }
}
