#Components {
  //@include primary-gradient-reverse();
  padding: 50px 0;
  > .title {
    margin-bottom: 100px;
  }
  > .row {
    margin: 0;
    > .col > .components:nth-last-child(n + 2) {
      margin-bottom: 85px;
    }

    > .col > .components > .item {
      @include flexbox();
      @include align-items(center);
    }

    > .col > .components > .item > .card {
      @include align-items(center);
      height: 100%;
      padding: 20px;
      position: relative;
    }

    > .col > .components > .item > .card > img {
      width: 100px;
      position: absolute;
      top: -55px;
    }

    > .col > .components > .item > .card > .description {
      text-align: center;
      font-size: 15px;
      margin: 0;
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 991px) {
  #Components {
    > .row {
      margin: 0;
  
      > .col > .components > .item > .card > img {
        width: 90px;
        top: -45px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #Components {
    > .title {
      margin-bottom: 30px;
    }
    > .row {
      > .col > .components:nth-last-child(n + 2) {
        margin: 0;
      }
      > .col > .components > .item{
        margin-bottom: 10px;
      }

      > .col > .components > .item > .card > img {
        position: static;
      }

      > .col > .components > .item > .card > .description {
        margin-top: 15px;
      }
    }
  }
}