#Header {
  @include flexbox();
  @include align-items(center);
  //background-image: url('../neuroblaze/assets/images/header.jpg');
  //background-size: cover;
  height: 96vh;
  padding: 0;

  > .carousel  {
    height: 100%;
    width: 100%;
    > .carousel-inner {
      height: 100%;
    }

    > .carousel-inner > .carousel-item {
      height: 100%;
    }

    > .carousel-inner > .carousel-item > .image {
      height: 100%;
      background-size: contain, cover;
      background-repeat: no-repeat;
      background-position-y: bottom, center;
      background-position-x: center;
    }
  }

  > .row {
    width: 100%;
    > .col-md-11 {
      color: #fff;
    }

    > .col-md-11 > .title {
      font-weight: 300;
      font-size: 3.5em;
    }

    > .col-md-11 > .description {
      font-size: 1.5em;
      width: 640px;
      font-weight: 100;
    }

    > .col-md-11 > .underline {
      display: block;
      height: 3px;
      width: 70px;
      background-color: $primary-yellow;
    }
  }
}

@media only screen and (max-width: 991px) {
  #Header {
    > .row {
      > .col > .title {
        font-size: 3em;
      }
  
      > .col > .description {
        width: 690px;
        max-width: 100%;
        font-size: 1.2em;
        margin: 0 auto 1em;
      }

      > .col > .title,
      > .col > .description {
        text-align: center;
      }

      > .col > .underline {
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #Header {
    height: 70vh;
  }
}

@media only screen and (max-width: 630px) {
  #Header {
    height: 60vh;
  }
}

@media only screen and (max-width: 500px) {
  #Header {
    height: 50vh;
  }
}