#Header {
  @include flexbox();
  @include align-items(center);
  //background-image: url('../neuroblaze/assets/images/header.jpg');
  //background-size: cover;
  height: 96vh;
  padding: 0;

  > .carousel {
    height: 100%;
    width: 100%;
    > .carousel-indicators {
      bottom: 35px;
    }
    > .carousel-indicators > .active {
      background-color: #ff8300;
    }
    > .carousel-inner {
      height: 100%;
    }

    > .carousel-inner > .carousel-item {
      height: 100%;
    }

    > .carousel-inner > .carousel-item > .image {
      height: 100%;
      background-size: contain, cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }

    > .carousel-inner > .carousel-item > .slide-1 {
      background-position-y: bottom, center;
      background-color: #fff;
    }

    > .carousel-inner > #PublicReminder {
      position: absolute;
      bottom: 0;
      background-color: #000;
      color: #fff;
      width: 100%;
      text-align: center;
    }
    > .carousel-inner > #PublicReminder > .message {
      font-size: 1em;
      padding: 5px 0;
      margin: 0;
    }
  }

  > .row {
    width: 100%;
    > .col-md-11 {
      color: #fff;
    }

    > .col-md-11 > .title {
      font-weight: 300;
      font-size: 3.5em;
    }

    > .col-md-11 > .description {
      font-size: 1.5em;
      width: 640px;
      font-weight: 100;
    }

    > .col-md-11 > .underline {
      display: block;
      height: 3px;
      width: 70px;
      background-color: $primary-yellow;
    }
  }
}

@media only screen and (max-width: 991px) {
  #Header {
    > .carousel {
      > .carousel-inner > .carousel-item > .slide-1,
      > .carousel-inner > .carousel-item > .slide-2 {
        background-size: 150%, cover;
      }
      > .carousel-inner > .carousel-item > .slide-1 {
        background-image: url("assets/images/sliders/head-model-mobile.png"),
          url("assets/images/sliders/background-2.jpg") !important;
      }
      > .carousel-inner > .carousel-item > .slide-2 {
        background-image: url("assets/images/sliders/capsule-mobile.png"),
          url("assets/images/sliders/blue-background.jpg") !important;
      }
      > .carousel-inner > #PublicReminder > .message {
        font-size: 0.9em;
      }
    }
    > .row {
      > .col > .title {
        font-size: 3em;
      }

      > .col > .description {
        width: 690px;
        max-width: 100%;
        font-size: 1.2em;
        margin: 0 auto 1em;
      }

      > .col > .title,
      > .col > .description {
        text-align: center;
      }

      > .col > .underline {
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 929px) {
  #Header {
    > .carousel {
      > .carousel-inner > #PublicReminder > .message {
        font-size: 0.7em;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #Header {
    > .carousel {
      > .carousel-inner > .carousel-item > .slide-1 {
        background-size: 180%, cover;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  #Header {
    height: 100vh;
  }
}
