#Header {
  @include flexbox();
  @include align-items(center);
  background-image: url('../neuroblaze/assets/images/header.jpg');
  height: 100vh;
  background-size: cover;

  > .row {
    width: 100%;
    > .col-md-11 {
      color: #fff;
    }

    > .col-md-11 > .title {
      font-weight: 300;
      font-size: 3.5em;
    }

    > .col-md-11 > .description {
      font-size: 1.5em;
      width: 640px;
      font-weight: 100;
    }

    > .col-md-11 > .underline {
      display: block;
      height: 3px;
      width: 70px;
      background-color: $primary-yellow;
    }
  }
}