@import "mixins";
@import "theme";
@import "helpers";
@import "navigation";
@import "header";
@import "about";
@import "benefits";
@import "components";
@import "testimonials";
@import "contact";
@import "footer";

html,
body {
  font-family: "Lato", sans-serif !important;
  font-size: 16px;
}

.nb-button {
  text-transform: uppercase;
  border-radius: 7px;
}

.nb-primary-button {
  background-color: $primary-orange;
  color: #fff;
  border: 0;

  &:hover {
    background-color: $nb-primary-button-hover-bg-color;
  }
}

.mainpage-section {
  > .title {
    margin-bottom: 30px;
    font-size: 3em;
    color: $primary-blue;
    text-align: center;
    > .underline {
      display: block;
      background-color: $primary-yellow;
      width: 70px;
      height: 3px;
      margin: auto;
      margin-top: 15px;
    }
  }
}

#BuyNow {
  @include flexbox();
  @include transition(all, 0.5s);
  position: fixed;
  bottom: -90px;
  right: 15px;
  background-color: $primary-orange;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  z-index: 16;

  &.show {
    bottom: 15px;
    @include animation(0, 0.5s, showBuy);
  }
  &:hover {
    text-decoration: none;
  }
  > .icon {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
    margin-right: 15px;
  }
}

@include keyframe(showBuy) {
  from {
    @include transform(translateY(135px));
  }
  to {
    @include transform(translateY(0));
  }
}

@media only screen and (max-width: 991px) {
  .mainpage-section {
    > .title {
      font-size: 2.5em;
    }
  }
}
