@include keyframe(fixednav) {
  0% {
    @include transform(translateY(-75px));
  }

  100% {
    @include transform(translateY(70px));
  }
}

#NavbarTop {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  
  &.fixed, &.single  {
    top: 0;
    position: fixed;
    margin-top: 0;
    background-color: $primary-blue;
  }

  > .row {
    > .col {
      @include flexbox();
      @include align-items(center);
    }
    
    > .col > .navbar-brand {
      margin: 0;
      padding: 0;
      border: 0;
    }

    > .col > img {
      height: 50px;
    }
      
    > .col > .collapse  > .navbar-nav > .nav-link {
      font-size: 1.1em;
      color: #fff;
      padding: 0;
      line-height: 1;
    }
     
    > .col > .collapse  > .navbar-nav > .nav-link:nth-last-child(n + 2) {
      margin-right: 50px;
    }
  
    > .col > .collapse  > .navbar-nav > .nav-link:hover {
      color: $top-navigation-link-color;
    }
  }
}