#NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  > .row {
    > .col {
      @include flexbox();
    }
    
    > .col > .navbar-brand {
      margin: 0;
      padding: 0;
      border: 0;
    }

    > .col > img {
      height: 50px;
    }
      
    > .col > .collapse  > .navbar-nav > .nav-link {
      font-size: 1.1em;
      color: #fff;
      padding: 0;
      line-height: 1;
    }
     
    > .col > .collapse  > .navbar-nav > .nav-link:nth-last-child(n + 2) {
      margin-right: 25px;
    }
  
    > .col > .collapse  > .navbar-nav > .nav-link:hover {
      color: $top-navigation-link-color;
    }

    > .col > .navbar-toggler {
      margin-left: auto;
      padding: 0;
      border: 0;
    }

    > .col > .navbar-toggler:hover {
      background-color: transparent;
    }

    > .col > .navbar-toggler > .icon {
      fill: #fff;
      width: 36px;
      height: 30px;
    }
  }
}

#NavbarTop {
  > .row {
    > .col {
      @include align-items(flex-end);
    }
  }
}

#NavbarTopFixed, #NavbarTopSingle {
  > .row {
    > .col {
      @include align-items(center);
    }
  }
}

#NavbarTopSingle {
  &.single  {
    top: 0;
    position: fixed;
    margin-top: 0;
    background-color: $primary-blue;
  }
}

#NavbarTopFixed {
  @include transition(all, 0.5s);
  position: fixed;
  top: -90px;
  margin-top: 0;
  background-color: $primary-blue;
  z-index: 3;

  &.show {
    top: 0;
    @include animation(0, 0.5s, showFixNav);
  }
}

@include keyframe(hideFixNav) {
  from {
    @include transform(translateY(0));
  }
  to {
    @include transform(translateY(-135px));
  }
}

@include keyframe(showFixNav) {
  from {
    @include transform(translateY(-135px));
  }
  to {
    @include transform(translateY(0));
  }
}

@media only screen and (max-width: 767px) {
  #NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
    > .row {
      > .col > .navbar-brand > img{
        height: 40px;
      }
      > .col > .navbar-toggler > .icon {
        width: 28px;
        height: 25px;
      }
    }
  }
}