#NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 3;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  > .row {
    > .col {
      @include flexbox();
      @include align-items(flex-end);
    }
    
    > .col > .navbar-brand {
      margin: 0;
      padding: 0;
      border: 0;
    }

    > .col > img {
      height: 50px;
    }

    > .col > .collapse  > .logo {
      display: none;
    }
      
    > .col > .collapse  > .navbar-nav > .nav-link {
      font-size: 1.1em;
      color: #fff;
      padding: 0;
      line-height: 1;
      cursor: pointer;
    }
     
    > .col > .collapse  > .navbar-nav > .nav-link:nth-last-child(n + 2) { 
      margin-right: 25px;
    }
  
    > .col > .collapse  > .navbar-nav > .nav-link:hover {
      color: $top-navigation-link-color;
    }

    > .col > .navbar-toggler {
      margin-left: auto;
      padding: 0;
      border: 0;
      outline: none;
    }

    > .col > .navbar-toggler:hover {
      background-color: transparent;
    }

    > .col > .navbar-toggler > .icon {
      fill: #fff;
      width: 36px;
      height: 30px;
    }
  }
}

#NavbarTopFixed, #NavbarTopSingle {
  > .row {
    > .col {
      @include align-items(center);
    }
  }
}

#NavbarTopFixed, #NavbarTop{
  > .row {
    > .col > .collapse  {
      margin-top: 5px;
    }
  }
}

#NavbarTopSingle {
  &.single  {
    top: 0;
    position: fixed;
    margin-top: 0;
    background-color: $primary-blue;
  }
}

#NavbarTopFixed {
  @include transition(all, 0.5s);
  position: fixed;
  top: -90px;
  margin-top: 0;
  background-color: $primary-blue;
  z-index: 16;

  &.show {
    top: 0;
    @include animation(0, 0.5s, showFixNav);
  }
}

@include keyframe(hideFixNav) {
  from {
    @include transform(translateY(0));
  }
  to {
    @include transform(translateY(-135px));
  }
}

@include keyframe(showFixNav) {
  from {
    @include transform(translateY(-135px));
  }
  to {
    @include transform(translateY(0));
  }
}

@media only screen and (max-width: 991px) {
  #NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
    > .row {
      > .col > .navbar-brand > img{
        height: 40px;
      }
      > .col > .navbar-toggler > .icon {
        width: 28px;
        height: 25px;
      }
      > .col > .collapse > .navbar-nav > .nav-item:nth-last-child(n + 2) {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }
}

#SideNavBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  background-color: $primary-blue;
  width: 250px;
  z-index: 16;
  padding: 10px;
  @include transition(all 0.8s ease 0.1s);
  @include transform(translateX(-250px));
  &.active {
    @include transform(translateX(0));
  }
  > .logo {
    display: block;
    margin-bottom: 20px;
    height: 40px;
  }

  > .navbar-nav > .nav-link{
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
  }

  > .navbar-nav > .nav-link:hover {
    color: $top-navigation-link-color;
  }

}

@media only screen and (max-width: 767px) {
  #NavbarTop, #NavbarTopFixed, #NavbarTopSingle {
    > .row {

      > .col > .navbar-brand > img{
        height: 40px;
      }
      > .col > .navbar-toggler > .icon {
        width: 28px;
        height: 25px;
      }
    }
  }
}