#Testimonials {
  padding: 50px 0;
  > .title {
    color: $primary-blue;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    > .underline {
      display: block;
      background-color: $primary-yellow;
      width: 70px;
      height: 3px;
      margin: auto;
      margin-top: 15px;
    }
  }
  > .row {
    > .col > .container-fluid > .row > .col > .card {
      @include flexbox();
      height: 100%;
      padding: 20px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    }
    
    > .col > .container-fluid > .row > .col > .card:nth-last-child(n + 2){
      margin-right: 30px;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .card-title > .name{
      font-size: 1.3em;
      margin: 0;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .card-title > .position{
      font-size: 1em;
      margin: 0;
      font-weight: 300;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .card-img-top {
      border-radius: 500px;
      width: 160px;
    }
    
    > .col > .container-fluid > .row > .col > .card > .card-body > .card-text {
      @include flexbox();
      text-align:left;
      font-size: 1.1em;
      margin: 0 30px;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .card-text > .quote {
      @include flex-shrink(0);
      width: 30px;
      height: 20px;
      margin-right: 15px;
      fill: $primary-orange;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .readmore {
      @include align-self(flex-end);
      font-size: small;
    }

    > .col > .container-fluid > .row > .col > .card > .card-body > .readmore:hover {
      color: #fff;
    }
  }
}

#TestimonialContainer {
  > .post-content {
    width: 900px;
    margin: auto;
  }
}